.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
    white-space:normal;
    max-width:100%;
}
.button:hover {
    background: green;
}
@font-face {
    font-family: reg;
    src: url("texgyrebonum-regular.otf") format("opentype");
}
@font-face {
    font-family: ital;
    src: url("texgyrebonum-italic.otf") format("opentype");
}
@font-face {
    font-family: bold;
    src: url("texgyrebonum-bold.otf") format("opentype");
}
body {
    text-align: center;
    font-family: reg;
    color: gray;
}
h1 {
    font-family: bold;
    color: black;
}
i {
    font-family: ital;
    color: gray;
}