<html>
    <head>
        <title>New {{race}}</title>
        <style>
        @font-face {
            font-family: trial;
            src: url('texgyrebonum-regular.otf');
            font-weight: bold;
        }

        body {
            text-align: center;
            font-family: trial;
            color: gray;
        }
        h1 {
            font-family: trial;
            color: black;
        }
        </style>

    </head>
    <body>
        <div>
            <h1>{{race}}</h1>
            <p>Strength: {{statStr}}</p>
            <p>Dexterity: {{statDex}}</p>
            <p>Consititution: {{statCon}}</p>
            <p>Intelligence: {{statInt}}</p>
            <p>Wisdom: {{statWis}}</p>
            <p>Charisma: {{statCha}}</p>
        </div>
    </body>
</html>