<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/layout.css">
        <title>New {{race}}</title>
    </head>
    <body>
        <div>
            <h1>{{race}}</h1>
            <p>Strength: {{statStr}}</p>
            <p>Dexterity: {{statDex}}</p>
            <p>Constitution: {{statCon}}</p>
            <p>Intelligence: {{statInt}}</p>
            <p>Wisdom: {{statWis}}</p>
            <p>Charisma: {{statCha}}</p>
            <br><br>
            <a href="/" class="button">Reload Stats</a>
            <a href="/stats" class="button">Disable Auto-Select Race</a>
        </div>
    </body>
</html>