<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/layout.css">
        <title>New Character</title>
    </head>
    <body>
        <div>
            <h1>Stats</h1>
            <p>Strength: <i>{{statStr}}</i></p>
            <p>Dexterity: <i>{{statDex}}</i></p>
            <p>Constitution: <i>{{statCon}}</i></p>
            <p>Intelligence: <i>{{statInt}}</i></p>
            <p>Wisdom: <i>{{statWis}}</i></p>
            <p>Charisma: <i>{{statCha}}</i></p>
            <br><br>
            <div>
                <a href="../stats" class="button">Reload Stats</a>
            </div>
            <br><br>
            <div>
                <a href="../" class="button">New Roll w/ Autoselect</a>
            </div>
        </div>
    </body>
</html>